In [17]:
import pandas as pd
happy1_tweets = pd.read_csv("Downloads/dataset/happy1_tweets.csv", header = 0)
angry_tweets = pd.read_csv("Downloads/dataset/angry_tweets.csv", header = 0)
fear_tweets = pd.read_csv("Downloads/dataset/fear_tweets.csv", header = 0)
sad_tweets = pd.read_csv("Downloads/dataset/sad_tweets.csv", header = 0)

In [18]:
happy1_tweets["label"] = "happy"
angry_tweets["label"] = "angry"
fear_tweets["label"] = "fear"
sad_tweets["label"] = "sad"

In [20]:
happy1_tweets.keys()

Index(['Unnamed: 0', 'rt', 'tweet', 'label'], dtype='object')

In [30]:
angry = angry.drop('Unnamed: 0', axis = 1) 
fear = fear.drop('Unnamed: 0', axis = 1) 
sad = sad.drop('Unnamed: 0', axis = 1)

In [31]:
happy.head()
fear.head()

                                               tweet label
0  네코제에서 저를보고 미소짓는분들 몇계셧는데 뭐에요 ??  무슨이유죠....\r\n왜...  fear
1                                  ...진 본체도 괜찮은거 맞나요  fear
2  Oppa, 나에게 격려해라. 오늘 나는 시험에 응한다. \r\n@B_hundred_...  fear
3                                         이거사고싶은데가격이  fear
4                               OMG의 오빠 정말 잘 생긴 것입니다  fear

In [34]:
from sklearn.model_selection import train_test_split

happy_train_set, happy_test_set = train_test_split(happy, test_size = 0.3)
fear_train_set, fear_test_set = train_test_split(fear, test_size = 0.3)
angry_train_set, angry_test_set = train_test_split(angry, test_size = 0.3)
sad_train_set, sad_test_set = train_test_split(sad, test_size = 0.3)

In [48]:
train_data = pd.concat([happy_train_set, fear_train_set,angry_train_set,sad_train_set],ignore_index=True)

test_data = pd.concat([happy_test_set, fear_test_set,angry_test_set,sad_test_set],ignore_index=True)

In [49]:
train_data, valid_data = train_test_split(train_data, test_size = 0.3)

In [53]:
train_data.to_csv("four_train_data.csv",encoding="utf-8-sig")
valid_data.to_csv("four_valid_data.csv",encoding="utf-8-sig")
test_data.to_csv("four_test_data.csv",encoding="utf-8-sig")

In [51]:
valid_data.head()

                                                   tweet  label
28812  어떻게 각색을 하는데 더구리게\r\n할수가 있냐....\r\n신선한건 다쳐내고 진부...    sad
1640   뮤지컬 엑스칼리버 DK 도겸 회차 양도 \r\n\r\n6/25(화) 7시 1층 B구...  happy
17974  피치\r\n 사랑의 멋짐을 모르는 당신이 불쌍해요!라는 명대사가 있지요 웨딩피치=사...   fear
16754                     아 맞 다 그 랫 지 수 술 할 정 도 라 고 ? !    fear
14514                                          어머... 그래요   fear

In [4]:
import pandas as pd
total_data = pd.read_csv("./tweets_data/tweet_train.csv", header = 0)

In [5]:
total_data.head()

   Unnamed: 0                                              tweet  label
0           0                                              부산막이요      1
1           1                         우우ㅠㅠ그렇쿤ㅠㅠ 알쏘 이따 행사장에서 보자~!      1
2           2  SoldierField 공연을 축하하는 의미로 라디오에 작은시가 재생될 수 있도록\...      1
3           3  아마도 칸라라는 존재가 누나 곁에 있다는 것을 알지만, 칸라라는 사람은 모를 것같아...      1
4           4                                              히히 맞아      1

In [17]:
len(total_data)

98681

In [19]:
from sklearn.model_selection import train_test_split
train_data_tweet, test_data_tweet = train_test_split(total_data, test_size = 0.3)

In [20]:
train_data_tweet.to_csv("./tweets_data/train_data_tweet.csv",encoding="utf-8-sig")
test_data_tweet.to_csv("./tweets_data/test_data_tweet.csv",encoding="utf-8-sig")